<!-- footer -->

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <ul>
              <li><h4>About Us</h4></li>
              <li><a href="#">What is Kickstarter?</a></li>
              <li><a href="#">Highlights</a></li>
              <li><a href="#">Who we are</a></li>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">Stats</a></li>
              <li><a href="#">Projects we love</a></li>
            </ul>          
          </div>
          <div class="col-md-2">
            <ul>
              <li><h4>Hello</h4></li>
              <li><a href="#"><i class="fa fa-twitter-square fa-lg"></i> Twitter</a></li>
              <li><a href="#"><i class="fa fa-facebook-square fa-lg"></i> Facebook</a></li>
              <li><a href="#"><i class="fa fa-tumblr-square fa-lg"></i> Tumblr</a></li>
              <li><a href="#"><i class="fa fa-instagram-square fa-lg"></i> Instagram</a></li>
            </ul>          
          </div>
        </div>
      </div>
    </div>
  </body>
</html>