<!-- header -->

<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>

  <body>
    <div class="browse">
      <div class="container">
        <div class="logo">
          <img src="https://www.kickstarter.com/download/kickstarter-logo-light.png">
        </div>
        <ul>
          <li>Discover</li>
          <li>Start</li>
        <div class="signin">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Log In</a></li>
        <div>
        </ul>
      </div>
    </div>