<!doctype html>

<!-- Header -->

<html>
  <head>
    <link href="css/bootstrap.css" rel='stylesheet'>
    <link href="css/style.css" rel='stylesheet'>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="col-md-2">
          <%= image_tag "logo.png", size: "161x20" %>
        </div>
        <div class="col-md-3">
          <ul class="primary">
            <li>Discover</li>
            <li>Start</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="jumbotron">
      <%= image_tag "home.jpg" %>
      <div class="container content">
        <h1>Bring creative projects to life</h1>
        <a href="#" class="btn btn-kickstarter">Learn more</a>
      </div>
    </div>

    <div class="staff-picks">
      <div class="container">
        <div class="row">
          <div class="content col-sm-10">
            <div class="row">
              <div class="col-xs-4">
                <h2>Staff Picks: Technology</h2>
              </div>
              <div class="see-all pull-right">
                <a href="#">See all Technology projects</a>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-5">
                <img src="http://bit.ly/1A93jpX" width="100%">
              </div>
              <div class="col-xs-7">
                <h3 class="title">Title goes here</h3>
                <p class="author">by Author Here</p>
                <p class="description">Description goes here</p>
                <ul class="meta">
                  <li><span class="glyphicon glyphicon-tag"></span>Codecademy</li>
                  <li><span class="glyphicon glyphicon-map-marker"></span>New York, NY</li>
                </ul>

                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
              </div>

              <div class="col-xs-1">
                <h4>60%</h4>
                <h5>funded</h5>
              </div>
              <div class="col-xs-1">
                <h4>$18,246</h4>
                <h5>pledged</h5>
              </div>
              <div class="col-xs-1">
                <h4>187</h4>
                <h5>backers</h5>
              </div>
              <div class="col-xs-2">
                <h4>11</h4>
                <h5>days to go</h5>
              </div>

            </div>
          </div>

          <div class="nav col-sm-2">
            <ul>
              <li>Art</li>
              <li>Comics</li>
              <li>Crafts</li>
              <li>Dance</li>
              <li>Design</li>
              <li>Fashion</li>
              <li>Fashion</li>
              <li>Film &amp; Video</li>
              <li>Food</li>
              <li>Games</li>
              <li>Journalism</li>
              <li>Music</li>
              <li>Photography</li>
              <li>Publishing</li>
              <li>Technology</li>
              <li>Theater</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="popular">
      <div class="container">
        <h2>What's Popular</h2>
        <div class="row">

          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="http://bit.ly/1tiq9Xi">
              <div class="caption">
                <h3 class="title">Title goes here</h3>
                <p class="author">by Author Here</p>
                <p class="description">Description goes here</p>

                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-3">
                    <h4>60%</h4>
                    <h5>funded</h5>
                  </div>
                  <div class="col-xs-3">
                    <h4>$18,246</h4>
                    <h5>pledged</h5>
                  </div>
                  <div class="col-xs-3">
                    <h4>11</h4>
                    <h5>days to go</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="http://bit.ly/1B2CiGf">
              <div class="caption">
                <h3 class="title">Title goes here</h3>
                <p class="author">by Author Here</p>
                <p class="description">Description goes here</p>

                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-3">
                    <h4>60%</h4>
                    <h5>funded</h5>
                  </div>
                  <div class="col-xs-3">
                    <h4>$18,246</h4>
                    <h5>pledged</h5>
                  </div>
                  <div class="col-xs-3">
                    <h4>11</h4>
                    <h5>days to go</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="http://bit.ly/1Blj0tE">
              <div class="caption">
                <h3 class="title">Title goes here</h3>
                <p class="author">by Author Here</p>
                <p class="description">Description goes here</p>

                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-3">
                    <h4>60%</h4>
                    <h5>funded</h5>
                  </div>
                  <div class="col-xs-3">
                    <h4>$18,246</h4>
                    <h5>pledged</h5>
                  </div>
                  <div class="col-xs-3">
                    <h4>11</h4>
                    <h5>days to go</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="feature">
      <div class="container">
        <h2>Where projects come from</h2>
        <p>Each and every Kickstarter project is the independent creation of someone like you.</p>
        <p>Want to know more about how projects happen, or start your own?</p>
        <a href="#" class="btn btn-kickstarter">Learn more</a>
      </div>
    </div>

<!-- Footer -->


    <div class="footer">
      <div class="container">
        <div class="links row">
          <div class="col-sm-3">
            <h5>About us</h5>
            <ul>
              <li>What is Kickstarter?</li>
              <li>2013 highlights</li>
              <li>Who we are</li>
              <li>Jobs</li>
              <li>Press</li>
              <li>Stats</li>
              <li>Projects we love</li>
            </ul>
          </div>
          <div class="col-sm-5">
            <h5>Discover</h5>
            <div class="row">
              <div class="col-xs-6">
                <ul>
                  <li>Art</li>
                  <li>Comics</li>
                  <li>Crafts</li>
                  <li>Dance</li>
                  <li>Design</li>
                  <li>Fashion</li>
                  <li>Film &amp; Video</li>
                  <li>Food</li>
                </ul>
              </div>
              <div class="col-xs-6">
                <ul>
                  <li>Games</li>
                  <li>Journalism</li>
                  <li>Music</li>
                  <li>Photography</li>
                  <li>Publishing</li>
                  <li>Technology</li>
                  <li>Theater</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <h5>Hello</h5>
            <ul>
              <li>Twitter</li>
              <li>Facebook</li>
              <li>Tumblr</li>
              <li>Instagram</li>
              <li>Vine</li>
            </ul>
          </div>
        </div>
        <div class="bottom row">
          <div class="col-md-2">
            <%= image_tag "logo-grey.png", size: "161x20" %>
          </div>
          <div class="pull-right">
            <p>&copy; 2015 Kickstarter, Inc</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
