<%= render '/shared/header' %> 

<br>
<br>
<br>
<br>

<h1>New Subject</h1>

<%= render 'form' %>

<%= link_to 'Back', subjects_path, :class => "btn btn-kickstarter" %>

<br>
<br>
<br>
<br>

<%= render '/shared/footer' %> 